.about-img{
    width: 32%;
    text-align: center;
}
.about-header{
    font-size: 20px;
    text-align: center;
    
}
.about-des{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}