.availability-bg{
    background-image: url("../../../images/subscribe-bg.ef42635c.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    height: 370px;
    
}
.available-head{
    font-size: 36px;
    color: white;
}
.available-des{
    font-size: 15px;
    color: white;
    color:white;
}
.availability-bg::after{
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #0000007d;
    opacity: .9;
}
.availability-hr{
    color:tomato;
    font-weight: 50px;
    margin: auto;

}
.availability-time{
    box-shadow: 0 15px 20px 1px #9c9c9c52;
    width: 70%;
    
    
}